# Gradle files
.gradle/
build/
/*/build/

# IntelliJ IDEA
.idea/
*.iml
*.iws

# Local configuration
local.properties

# Log files
*.log

# Android Studio Captures
captures/

# Native build
.externalNativeBuild/
.cxx/

# Keystore files
*.jks
*.keystore

# Google Services
google-services.json

# DS_Store
.DS_Store

# Custom scripts
push.bat
